@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=El+Messiri&amp;display=swap');
 
.app { 
} 
.app-wrapper { 
  width:100%;
  margin:auto; 
  font-size: 16px;
  font-family: 'El Messiri', sans-serif;
  line-height: 1.666em;
  font-weight: 400;
  color: #766966;
  text-shadow: 0 1px 0 #FFF;
  background-image: url(https://wikirip.site/css/top_bg.jpg);
}
.header { 
 
}
.header img {
	/*width:300px;*/
}
.contein_logo_text {
  width: 70%;
  /* float: left; */
  display: inline-block;
}

.logo {
  float: none;
  text-align: left;
  margin: auto;
  max-width: 344px;
}
img.logo_main {
  max-height: 100px;
  width: auto;
}
.contein_logo_text {
  width: 70%;
  margin-top: 5px;
}
.contein_logo_text {
  display: inline-block;
}
.logo .logo_text {
  display: inline-block;
  font-size: 3.333em;
  margin-left: 0.15em;
  vertical-align: bottom;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: Cinzel, serif;
  text-shadow: 1px 2px 4px #fff;
}

.logo .logo_text {
  color: #592131;
}
span.logo_slogan {
  display: block;
  margin-top: 6px;
  margin-left: 17px;
  text-shadow: 0 1px 0 #FFF;
  width: 225px;
  font-size: 12px;
  font-style: italic; 
}
span.logo_slogan h1 { 
  font-size: 14px;
  color: #a5978b;
  text-decoration: underline;
  border: 0;
}
.nav{ 
 
}
.content{
	grid-area: c;
	 
}
.App-logo {
  height: 40vmin;
}

.App-header { 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #766966;
}

.App-link {
  color: #766966;
}
.header, .logo {
  width: 100%;;
}
.logo {
  float: none;
  text-align: left;
  margin: auto;
  max-width: 344px;
}
.logo_img {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.6em;
}
img.logo_main {
  max-height: 100px;
  width: auto;
}
.header img {
  width: 20px;
}
.top {
  width: 100%;
  float: left;
  padding-bottom: 38px;
} 
.toplinks {
  margin: 0 14px 15px 6px;
  width: 95%;
}
.top * { 
  margin: 0;
  text-align: center; 
  line-height: 25px;
}
.listinline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.toplinks li, .toplinks a {
  color: #888;
  text-shadow: 0 1px 0 #FFF;
  text-decoration: none;
  line-height: 23px;
}
ul.listinline li {
  width: auto !important;
} 

.inline {
  width: 100%;
    font-size: 0.866em;
    color: #a5978b;
    text-align: center;
    padding: 15px 0 22px 0;
}
.nav { 
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: black;
}
.item a {
  color: black;
  text-decoration: none;
}
.item a.activeLink {
  color: gold;
} 
.myposts {
  padding: 0 14px 0 19px;
} 
input {
  width: 92%;
  margin-bottom: 12px;
  float: left;
  color: black; 
  outline: none;
  resize: none;
  line-height: 21px; 
  padding: 8px 0 7px 18px;
  font-size: 22px;
  border: 1px solid #a0a0a0;
  border-radius: 3px;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
color: #a5978b;
}
input:focus {
  border-color: #f5ad2d;
  outline: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
 border: 2px solid #f5ad2d;

}
input[type="submit"] {
  background: #f1ad48 !important;
  color: black; 
  border-radius: 3px;
  border: 1px solid #f1940c;
  margin-bottom: 12px; 
  font-size: 18px; 
}
.bottomnav {
  width: 100%;
  float: left;
  position: fixed;
  bottom: 0;
  background: white;
}
.bottomnav * {
  float: left;
  width: 16%;
  color: black;
} 
.bottomnav nav,.bottomnav a {
  width: 100%;
  text-align: center;
}